
html
    head
        title V-Pal
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css') 
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons') 
    
    body.grey.lighten-5  
        ul(id="dropdown1" class="dropdown-content")
            li
                a(href="/admin/logout") Logout

        div.navbar-fixed
            nav(class="nav-wraper indigo")
                a(class="brand-logo" style="margin-left:30px") V-Pal
                ul.right.hide-on-med-and-down
                    li
                        a.dropdown-trigger(href="#!" data-target="dropdown1") Admin
                            i.material-icons.right arrow_drop_down

        ul(class="sidenav sidenav-fixed" style="width:200px;margin-top:64px")
            li.lone(style="margin-top:15px")
                a.waves-effect(href="/admin/dashboard/teacher")  
                    i.material-icons person
                    span Teachers
            li.lone(style="margin-top:15px")
                a.waves-effect(href="/admin/dashboard/student")  
                    i.material-icons group
                    span Students
            li.lone(style="margin-top:15px")
                a.waves-effect(href="/admin/dashboard/slots")  
                    i.material-icons assignment 
                    span Slots
            li.lone(style="margin-top:15px")
                a.waves-effect(href="/admin/dashboard/classes")  
                    i.material-icons apartment
                    span Classes
            li.lone(style="margin-top:15px")
                a.waves-effect(href="/admin/dashboard/courses")  
                    i.material-icons class 
                    span Courses
            li.lone(style="margin-top:15px")
                a.waves-effect(href="/admin/dashboard/csc")  
                    i.material-icons attachment
                    span Map Course



        div.container(style="margin-top:0px")
            h4.left(style="margin-left:20px") Course map
            div.modal(id="terms")
                div.modal-content
                    form(action="/admin/dashboard/csc/add_csc", method="post" id="upform")
                        label Slot
                            select.browser-default.s3(style="width:400px" form="upform" name="slot")
                                option(value="" disabled selected) Choose the slot
                                each val,index in data.slots
                                    option(value=val.id)= val.name
                        label Class
                            select.browser-default.s3(style="width:400px" form="upform" name="class")
                                option(value="" disabled selected) Choose the class
                                each val,index in data.classes
                                    option(value=val.id)= val.block+" "+val.class_number
                        label Course
                            select.browser-default.s3(style="width:400px" form="upform" name="course")
                                option(value="" disabled selected) Choose the course
                                each val,index in data.courses
                                    option(value=val.id)= val.name+" ("+val.code+")"
                        input(class="btn right" type="submit", value="Submit" style="margin-top:10px")


        div.container.center(style="margin-left:200px;margin-top:30px")
            table(style="margin:5%;margin-top:2%;margin-right:5%;background-color:white;width:90%")
                thead
                    tr
                        th Course Name
                        th Course Code
                        th Credits
                        th Slot
                        th Time
                        th Block
                        th Class no
                        th
                            a.left.indigo.lighten-2(href="#terms" class="waves-effect waves-light btn-floating modal-trigger")
                                i.material-icons add
                tbody
                    each val,index in mapped_data
                        tr
                            td
                                div
                                    p= val.course.name
                            td
                                div
                                    p= val.course.code
                            td
                                div
                                    p= val.course.credits
                            td
                                div
                                    p= val.slot.name
                            td
                                div
                                    p= val.slot.time
                            td
                                div
                                    p= val.class.block
                            td
                                div
                                    p= val.class.class_number
                            td(style="width:50px")   
                                form(action="/admin/dashboard/csc/delete_csc/"+val.id, method="post")
                                    input(class="btn right" type="submit", value="delete")
                            td(style="width:80px")    
                                a(href="#edit"+val.id class="waves-effect waves-light btn modal-trigger" ) Edit Course
                                div.modal(id="edit"+val.id)
                                    div.modal-content
                                        form(action="/admin/dashboard/csc/edit_csc/"+val.id, method="post" id="edit_form")
                                            label Slot
                                                select.browser-default.s3(style="width:400px" form="edit_form" name="slot")
                                                    option(value="" disabled selected) Choose the slot
                                                    each val,index in data.slots
                                                        option(value=val.id)= val.name
                                            label Class
                                                select.browser-default.s3(style="width:400px" form="edit_form" name="class")
                                                    option(value="" disabled selected) Choose the class
                                                    each val,index in data.classes
                                                        option(value=val.id)= val.block+" "+val.class_number
                                            label Course
                                                select.browser-default.s3(style="width:400px" form="edit_form" name="course")
                                                    option(value="" disabled selected) Choose the course
                                                    each val,index in data.courses
                                                        option(value=val.id)= val.name+" ("+val.code+")"
                                            input(class="btn right" type="submit", value="Submit" style="margin-top:10px")



        script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
        script(src='/js/index.js')